@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }
}

/* Add these styles */
html, body {
  height: 100vh;
  overflow: hidden;
}

#__next {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
